# Ignore node_modules
client/node_modules/
server/node_modules/

# Ignore builds
client/dist/
server/dist/

# Ignore environment files
*client/.env

# Ignore logs
*.log

# Ignore system files
.DS_Store
.vscode/
